{% extends 'base.html' %}
{% block content %}

<h1>Connexion</h1>

{% if form.errors %}
    <div>
        <p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_username">Nom d'utilisateur:</label>
        <input type="text" name="username" id="id_username" required>
    </div>
    <div>
        <label for="id_password">Mot de passe:</label>
        <input type="password" name="password" id="id_password" required>
    </div>
    <button type="submit">Se connecter</button>
</form>

<p>Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a></p>

{% endblock %}

