{% extends 'base.html' %}
{% block content %}

<h1>Détails de la soumission</h1>

<table border="1">
    <tr>
        <td><strong>Titre</strong></td>
        <td>{{ submission.title }}</td>
    </tr>
    <tr>
        <td><strong>Résumé (Abstract)</strong></td>
        <td>{{ submission.abstract }}</td>
    </tr>
    <tr>
        <td><strong>Mots-clés</strong></td>
        <td>{{ submission.keywords }}</td>
    </tr>
    <tr>
        <td><strong>Statut</strong></td>
        <td>
            {% if submission.status == "submitted" %}
                Submitted
            {% elif submission.status == "under review" %}
                Under Review
            {% elif submission.status == "accepted" %}
                Accepted
            {% elif submission.status == "rejected" %}
                Rejected
            {% else %}
                {{ submission.get_status_display }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>Conférence associée</strong></td>
        <td>{{ submission.conference.name }}</td>
    </tr>
    <tr>
        <td><strong>Auteur</strong></td>
        <td>{{ submission.user.username }}</td>
    </tr>
    <tr>
        <td><strong>Date de soumission</strong></td>
        <td>{{ submission.submission_date|date:"d/m/Y" }}</td>
    </tr>
    <tr>
        <td><strong>Paiement</strong></td>
        <td>
            {% if submission.payed %}
                Payé
            {% else %}
                Non payé
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>Fichier PDF</strong></td>
        <td>
            {% if submission.paper %}
                <a href="{{ submission.paper.url }}" download>Télécharger l'article PDF</a>
            {% else %}
                Aucun fichier disponible
            {% endif %}
        </td>
    </tr>
</table>

<br>
{% if submission.status != "accepted" and submission.status != "rejected" %}
    <a href="{% url 'submission_update' submission.submission_id %}">Modifier cette soumission</a> |
{% endif %}
<a href="{% url 'liste_submissions' %}">Retour à la liste des soumissions</a>

{% endblock %}
